# SPDX-FileCopyrightText: 2015 UCLA
# SPDX-FileCopyrightText: 2025 Bernhard Haas (GFZ)
#
# SPDX-License-Identifier: BSD-3-Clause

/build
/.vs
/out
*.json
/*build*
docs/latex/*
docs/html/*
!docs/Doxyfile
!docs/README.md